* { // With border-box box sizing, padding and margin will be included in width and height which gives much better results
    box-sizing: border-box;
}

body { // Default colors and fonts for entire body element 
    background-color: $bg-white;
    color: $text-black-lighter;
    font-family: $body-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: $text-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

hr,
.line { // Horizontal line should look more clean
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: $border-width $border-style $gray-300;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

button {
    cursor: pointer;
    border-radius: 0;
}

details {
    summary { 
        cursor: pointer;
    }
    &:not([open]) {
        > *:not(summary) {
            display: none !important;
        }
    }
}

[hidden][hidden] {
    display: none !important;
}

