.circleImage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-white;
  border-radius: 50%;
  box-shadow: $box-shadow-medium;
}

.circleImage-icon {
  max-width: 60% !important;
  height: auto !important;
  max-height: 55% !important;
}

.circleImage--small {
  width: 56px;
  height: 56px;
}

.circleImage--medium {
  width: 96px;
  height: 96px;
}

.circleImage--large {
  width: 128px;
  height: 128px;
}


.DashedConnection {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 2px dashed $border-gray;
  }

  .circleImage {
    position: relative;
  }
}
  