.image-parent-child {
  position: relative;
}

.image-child {
  position: absolute;
  right: -15%;
  bottom: -9%;
  background-color: $bg-white;
  border-radius: 2px;
  box-shadow: -2px -2px 0 rgba($white, 0.8);
}


.image {
  display: inline-block;
  overflow: hidden;
  line-height: $lh-condensed-ultra;
  vertical-align: middle;
  border-radius: $border-radius;
}

.image-small { border-radius: 2px; }

.image-link {
  float: left;
  line-height: $lh-condensed-ultra;
}
.image-group-item {
  display: inline-block;
  margin-bottom: 3px;
}
