
.imageStack {
  position: relative;
  min-width: 26px;
  height: 20px;

  .imageStack-body {
    position: absolute;
  }

  &.imageStack--two {
    min-width: 36px;
  }

  &.imageStack--three-plus {
    min-width: 46px;
  }
}

.imageStack-body {
  display: flex;
  background: $bg-white;

  .image {
    position: relative;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
    margin-right: -11px;
    background-color: $bg-white;
    border-right: $border-width $border-style $border-white;
    border-radius: 2px;
    transition: margin 0.1s ease-in-out;

    &:first-child {
      z-index: 3;
    }

    &:last-child {
      z-index: 1;
      border-right: 0;
    }

    img {
      border-radius: 2px;
    }

    &:nth-child(n+4) {
      display: none;
      opacity: 0;
    }
  }

  &:hover {
    .image {
      margin-right: 3px;
    }

    .image:nth-child(n+4) {
      display: flex;
      opacity: 1;
    }

    .image-more {
      display: none !important;
    }
  }
}

.image.image-more {
  z-index: 1;
  margin-right: 0;
  background: $bg-gray;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 20px;
    content: "";
    border-radius: 2px;
    outline: $border-width $border-style $white;
  }

  &::before {
    width: 17px;
    background: $gray-200;
  }

  &::after {
    width: 14px;
    background: $gray-300;
  }
}

.imageStack--right {
  .imageStack-body {
    right: 0;
    flex-direction: row-reverse;

    &:hover .image {
      margin-right: 0;
      margin-left: 3px;
    }
  }

  .image.image-more {
    background: $gray-300;

    &::before {
      width: 5px;
    }

    &::after {
      width: 2px;
      background: $bg-gray;
    }
  }

  .image {
    margin-right: 0;
    margin-left: -11px;
    border-right: 0;
    border-left: $border-width $border-style $border-white;
  }
}
