.box-shadow {
    box-shadow: $box-shadow !important;
}
.box-shadow-md {
    box-shadow: $box-shadow-md !important;
}
.box-shadow-lg {
    box-shadow: $box-shadow-lg !important;
}
.box-shadow-xl {
    box-shadow: $box-shadow-xl !important;
}
.box-shadow-none {
    box-shadow: none !important;
}