@import "../support/index.scss";

.progress {
    display: flex;
    height: 8px;
    overflow: hidden;
    background-color: $gray-200;
    border-radius: $border-radius;
}

.progress--large {
    height: 10px;
}

.progress--small {
    height: 5px;
}
