@import "../support/index.scss";

.box {
    background-color: $bg-white;
    border: $border-width $border-style $border-gray-dark;
    border-radius: $border-radius;
  }
.box--condensed {
  line-height: $lh-condensed;

  .box-header {
    padding: $spacer-2 $spacer-3;
  }

  .box-body {
    padding: $spacer-2 $spacer-3;
  }

  .box-footer {
    padding: $spacer-2 $spacer-3;
  }

  .box-btn-icon {
    &.btn-icon {
      padding: $spacer-2 $spacer-3;
      margin: (-$spacer-2) (-$spacer-3);
      line-height: $lh-condensed;
    }
  }

  .box-row {
    padding: $spacer-2 $spacer-3;
  }

}

.box--spacious {
  .box-header {
    padding: $spacer-4;
    line-height: $lh-condensed;
  }

  .box-title {
    font-size: $h3-size;
  }

  .box-body {
    padding: $spacer-4;
  }

  .box-footer {
    padding: $spacer-4;
  }

  .box-btn-icon {
    &.btn-icon {
      padding: $spacer-4;
      margin: (-$spacer-4) (-$spacer-4);
    }
  }

  .box-row {
    padding: $spacer-4;
  }

}

.box-header {
  padding: $spacer-3;
  margin: (-$border-width) (-$border-width) 0;
  background-color: $bg-gray;
  border-color: $border-gray-dark;
  border-style: $border-style;
  border-width: $border-width;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.box-title {
  font-size: $body-font-size;
  font-weight: $font-weight-bold;
}

.box-body {
  padding: $spacer-3;
  border-bottom: $border-width $border-style $border-gray;

  
  &:last-of-type {
    margin-bottom: -$border-width;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.box-row {
  padding: $spacer-3;
  margin-top: -1px;
  list-style-type: none; 
  border-top: $border-width $border-style $border-gray;

  &:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &:last-of-type {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &.box-row--unread,
  &.unread {
    box-shadow: 2px 0 0 $blue inset;
  }

  &.navigation-focus {
    .box-row--drag-button {
      color: $text-blue;
      cursor: grab;
      opacity: 100;
    }

    &.is-dragging .box-row--drag-button {
      cursor: grabbing;
    }

    &.sortable-chosen {
      background-color: $bg-gray-light;
    }

    &.sortable-ghost {
      background-color: $bg-gray;

      .box-row--drag-hide {
        opacity: 0;
      }
    }

  }
}

.box-row--focus-gray {
  &.navigation-focus {
    background-color: $bg-gray;
  }
}

.box-row--focus-blue {
  &.navigation-focus {
    background-color: $bg-blue-light;
  }
}

.box-row--hover-gray {
  &:hover {
    background-color: $bg-gray;
  }
}

.box-row--hover-blue {
  &:hover {
    background-color: $bg-blue-light;
  }
}

.box-row-link {
  @include breakpoint(md) {

    color: $text-gray-dark;
    text-decoration: none;

    &:hover {
      color: $text-blue;
      text-decoration: none;
    }

  }
}

.box-row--drag-button {
  opacity: 0;
}

.box-footer {
  padding: $spacer-3;
  margin-top: -1px; 
  border-top: $border-width $border-style $border-gray;
}

.box--scrollable {
  max-height: 324px;
  overflow: scroll;
}

.box--blue {
  border-color: $border-blue-light;

  .box-header {
    background-color: $bg-blue-light;
    border-color: $border-blue-light;
  }

  .box-body {
    border-color: $border-blue-light;
  }

  .box-row {
    border-color: $border-blue-light;
  }

  .box-footer {
    border-color: $border-blue-light;
  }
}

.box--danger {
  border-color: $border-red;

  .box-row {
    &:first-of-type {
      border-color: $border-red;
    }
  }

  .box-body {
    &:last-of-type {
      border-color: $border-red;
    }
  }
}

.box-header--blue {
  background-color: $bg-blue-light;
  border-color: $border-blue-light;
}

.box-row--yellow {
  background-color: $yellow-100;
}

.box-row--blue {
  background-color: $bg-blue-light;
}

.box-row--gray {
  background-color: $bg-gray;
}

.box-btn-icon {

  &.btn-icon {
    padding: $spacer-3 $spacer-3;
    margin: (-$spacer-3) (-$spacer-3);
    line-height: $lh-default;
  }
}
  