//Spacers for margins and padding

// default spacer
$spacer: 4px !default;

// spacer scale
$spacer-0: 0 !default;                      // 0
$spacer-1: round($spacer / 2) !default;     // 2px
$spacer-2: $spacer !default;                // 4px
$spacer-3: $spacer * 2 !default;            // 8px
$spacer-4: $spacer * 3 !default;            // 12px
$spacer-5: $spacer * 4 !default;            // 16px
$spacer-6: $spacer-4 * 2 !default;          // 24px
$spacer-7: $spacer-5 * 2 !default;          // 32px
$spacer-8: $spacer-4 * 3 !default;          // 36px
$spacer-9: $spacer-6 * 2 !default;          // 42px
$spacer-10: $spacer * 9 !default;          // 56px
$spacer-11: $spacer-7 * 2 !default;          // 64px
$spacer-12: $spacer-8 * 2 !default;          // 72px

// Lists of spacers, one is for loops

$spacers: (
    $spacer-0,
    $spacer-1,
    $spacer-2,
    $spacer-3,
    $spacer-4,
    $spacer-5,
    $spacer-6,
    $spacer-7,
    $spacer-8,
    $spacer-9,
    $spacer-10,
    $spacer-11,
    $spacer-12
)   !default;

$spacer-map: (
    0: $spacer-0,
    1: $spacer-1,
    2: $spacer-2,
    3: $spacer-3,
    4: $spacer-4,
    5: $spacer-5,
    6: $spacer-6,
    7: $spacer-7,
    8: $spacer-8,
    9: $spacer-9,
    10: $spacer-10,
    11: $spacer-11,
    12: $spacer-12
)   !default;

// em spacers

$em-spacer-1: 0.0625em !default;    // 1/16
$em-spacer-2: 0.125em !default;     // 1/8
$em-spacer-3: 0.25em !default;      // 1/4
$em-spacer-4: 0.375em !default;     // 3/8
$em-spacer-5: 0.5em !default;       // 1/2
$em-spacer-6: 0.75em !default;      // 3/4

// widths

// container widths

$container-default: 840px !default;
$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;
$container-xxl: 1320px !default;

$width-default: 840px !default;
$width-sm: 540px !default;
$width-md: 720px !default;
$width-lg: 960px !default;
$width-xl: 1140px !default;
$width-xxl: 1320px !default;

$container-width: (
    sm: $container-sm,
    md: $container-md,
    default: $container-default,
    lg: $container-lg,
    xl: $container-xl,
    xxl: $container-xxl
)   !default;

// form breakpoints
$breakpoints: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
)   !default;

$responsive-variants: (
    "": "",
    sm: "-sm",
    md: "-md",
    lg: "-lg",
    xl: "-xl",
    xxl: "-xxl"
)   !default;

$responsive-positions: (
    static,
    relative,
    absolute,
    fixed,
    sticky
)   !default;

$display-values: (
    inline,
    block,
    inline-block,
    flex,
    inline-flex,
    table,
    table-cell,
    none
)   !default;

// map of edges

$edges: (
    top: (top-left, top-right),
    right: (top-right, bottom-right),
    bottom: (bottom-right, bottom-left),
    left: (bottom-left, top-left)
)   !default;

// Border variables

$border-width: 1px !default;
$border-color: $border-default !default;
$border-style: solid !default;
$border: $border-width $border-color $border-style !default;
$border-radius: 2px !default;

// Tooltip variables

$tooltip-max-width: 260px !default;
$tooltip-background-color: $black !default;
$tooltip-text-color: $darkwhite !default;
$tooltip-delay: 0.4s !default;
$tooltip-duration: 0.2s !default;

// Box shadow

$box-shadow: 0 1px 2px $black-fade-10 !default;
$box-shadow-md: 0 1px 5px $black-fade-15 !default;
$box-shadow-lg: 0 1px 15px $black-fade-15 !default;
$box-shadow-xl: 0 10px 50px $black-fade-05 !default;

// Other shadow

$btn-active-shadow: inset 0 0.15em 0.3em $black-fade-15 !default;
$btn-input-focus-shadow: 0 0 0 0.2em rgba($blue, 0.3) !default;
$form-control-shadow: inset 0 1px 2px rgba($black, 0.075) !default;