@import "../support/index.scss";

.loader {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    &::after {
        display: inline-block;
        content: "...";
        animation: loader-keyframes 1.2s steps(4, jump-none) infinite;
    }

    @keyframes loader-keyframes {
        0% { transform: translateX(-100%); }
    }
}