.container {
    max-width: $container-default;
    margin-right: auto;
    margin-left: auto;   
}

.container-sm {
    max-width: $container-sm;
    margin-right: auto;
    margin-left: auto;   
}

.container-md {
    max-width: $container-md;
    margin-right: auto;
    margin-left: auto;   
}

.container-lg {
    max-width: $container-lg;
    margin-right: auto;
    margin-left: auto;   
}

.container-xl {
    max-width: $container-xl;
    margin-right: auto;
    margin-left: auto;   
}

.container-xxl {
    max-width: $container-xxl;
    margin-right: auto;
    margin-left: auto;   
}