.header {
    z-index: 32;
    display: flex;
    padding: $spacer-3;
    font-size: $body-font-size;
    line-height: $lh-default;
    color: $darkwhite;
    background-color: $bg-gray-darker;
    align-items: center;
    flex-wrap: nowrap;

    &.--light {
        background-color: $bg-darkwhite;
        color: $black;

        .header-link{
            color: $black;
            &:hover,
            &:focus {
                color: $text-gray-darker;
            }

            
        }
    }
}

.header-item {
    display: flex;
    margin-right: $spacer-3;
    align-self: stretch;
    align-items: center;
    flex-wrap: nowrap;
}

.header-item--full {
    flex: auto;
}

.header-link {
    font-weight: $font-weight-bold;
    color: $text-white;
    white-space: nowrap;

    &:hover,
    &:focus {
        color: $text-gray-light;
        text-decoration: none;
    }
}

.header-dropdown {
    position: relative;

    ul {
        list-style-type: none;
    }
    
    .header-dropdown-menu {
        border: $border-width $border-style $gray;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: $bg-white;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        position: absolute;
        width: 100%;

        li {
            display: block;
        }

        .dropdown-item {
            display: block;
            padding: $spacer-2 $spacer-2 $spacer-2 $spacer-4;
            width: 100%;
            overflow: hidden;
            color: $gray;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:focus,
            &:hover {
                color: $text-black;
                text-decoration: none;
                background-color: $gray-100;
                outline: none;
        
                > .icon {
                color: inherit;
                opacity: 1;
                }
            }

            &.btn-link {
                width: 100%;
                text-align: left;
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .dropdown-signout {
            width: 100%;
            text-align: left;
            background: none;
            border: 0;
        }
        
        .dropdown-divider {
            display: block;
            height: 0;
            margin: 0 0;
            border-top: $border;
        }
        
        .dropdown-header {
            padding: $spacer-1 $spacer-3;
            font-size: $h6-size;
            color: $text-gray-darker;
        }
    
        .dropdown-item[aria-checked="false"] .icon-check {
            display: none;
        }

        *:last-child {
            border-bottom-left-radius: calc(.25rem - 1px);
            border-bottom-right-radius: calc(.25rem - 1px);
        }

    }
}


.header-dropdown[open] {
    .header-button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: $border-width $border-style $gray;
    }

    .header-dropdown-menu {
        position: absolute;
    }
}
